@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Monument';
    src: url('../assets/fonts/Monument-Extended-Regular.woff2') format('woff2'),
    url('../assets/fonts/Monument-Extended-Regular.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --black-0: #000;
    --black-1: #111;
    --black-2: #222;
    --black-3: #333;
    --black-4: #444;
    --black-5: #555;
    --black-7: #777;

    --white-0: #fff;
    --white-1: #eee;
    --white-2: #ddd;
    --white-3: #ccc;
    --white-4: #bbb;
    --white-5: #aaa;

    --blue: #0078f2;
    //--blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;

    //gradient
    --gradient-1: linear-gradient(135deg, var(--cyan), var(--indigo));
    --gradient-2: linear-gradient(45deg, #A770EF, #CF8BF3, #FDB99B);
    --gradient-3: linear-gradient(135deg, #FC5C7D, #6A82FB);

    //fonts
    //--ff-1: 'Inter', sans-serif;
    --ff-1: 'Monument', sans-serif;

    //fonts sizes

    //border radius
    --border-0: 2px;
    --border-1: 4px;
    --border-2: 6px;
    --border-3: 8px;
    --border-4: 16px;
    --border-5: 32px;
    --border-6: 50px;

    //transition
    --transition: .3s ease;
    --transition-2: .15s ease;


    color-scheme: dark;
}

html,
body {
    font-family: var(--ff-1);
    background: var(--black-2);
    color: var(--white-0);
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background: transparent;
}

input {
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
}

.app-styled {
    display: grid;
    grid-template-columns: 12.5vw auto;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--black-4);
}

@media (max-width: 600px) {
    .app-styled {
        grid-template-columns: 1fr;
    }
}

@import './Home.scss';
@import './Hape.scss';
@import './Sidebar.scss';